<p>movie-detail works!</p>

<div class="container ">
  <p class="text-center h3">

    {{dir}}
  </p>
  <div class="row " >
    <div class="col-2 ">
        <div class="" *ngFor="let item of movieArray;let  i = index" >

        <button class="btn p-3" (click)="but(i,item)">

          {{item.MovieName}}
        </button>
      </div>


    </div>
    <div class="col-8" >
      <div class="text-center d-flex  justify-content-center">

        <video  width="560" height="315" controls muted src="{{vid}}">
          <track default kind="subtitles" srclang="en" src="/build/videos/arcnet.io(7-sec).mp4"/>
        </video>
      </div>

    </div>
    <div class="col-2" >
      <button class="btn" *ngFor="let item of act;let i = index">

        {{item}}
      </button>
    </div>
  </div>
</div>
<!-- {{movieArray|json}} -->
